@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 0.9em;
}

.h2-bio {
  margin-bottom: 1vw;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.1em;
}

/* COLORS */

.primary-color {
  color: #ff9301;
}

.primary-color-05 {
  color: rgb(255, 147, 1, 0.5);
}

.primary-h-color {
  color: #0b0b15;
}

.primary-text-color {
  color: #555555;
}

.input-frame-color {
  color: #bbbbbb;
}

.divider-color {
  color: #eeeeee;
}

.primary-bg-color {
  background-color: #f7f7ff;
}

.heading-circle {
  position: relative;
  z-index: 1;
}

.heading-circle::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 147, 1, 0.5);
  width: 1.4em;
  height: 1.4em;
  border-radius: 50%;
  bottom: 0.5vw;
  left: -2vw;
  z-index: -10;
}

/* HEADER */

header {
  padding: 0 4vw;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 1.7em;
}

.header-avatar,
header img {
  display: none;
}

.header-wrapper {
  margin: 4vw 0;
}

.pt-4 {
  padding-top: 4vw;
}

nav ul {
  display: grid;
  grid-template: 10vw 10vw / repeat(3, 1fr);
  gap: 4vw;
  margin-top: 4vw;
}

nav li {
  list-style-type: none;
  padding: 0.7em;
  background-color: #ff9301;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 0.3em;
  font-size: 1em;
}

nav a {
  text-decoration: none;
  color: #0b0b15;
}

.circle {
  background-color: #ff9301;
  border-radius: 50%;
  width: 13em;
  height: 13em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

/* SECTIONS */

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
  padding: 0 4vw;
}

.section-wrapper-1 {
  background-color: #f7f7ff;
}

.section-wrapper-2 {
  background-color: white;
}

/* WRAPPERS IN SECTIONS */

.wrapper,
.cards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4vw;
  padding-top: 4vw;
}

/* BIOGRAPHY */

.circle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.h3-bio {
  padding-top: 8vw;
}

.bio-header {
  text-align: center;
}

.border {
  min-width: 50px;
  height: 0.3em;
}

.border-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-around; */
  width: 100%;
  /* margin-top: 4vw; */
}

.lg-not-hidden {
  display: none;
}

/* WHAT I DO */

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
}

.corner-circle {
  position: absolute;
  background-color: #ff9301;
  border-radius: 50%;
  width: 12em;
  height: 12em;
  top: -4.5em;
  left: -2.5em;
}

.card-content img {
  width: 4.5em;
  height: 4.5em;
  position: relative;
  top: -3vw;
  left: -1vw;
}

.card-content h4 {
  margin-top: 1em;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 2em;
}

/* AWARDS */

.awards-wrapper {
  padding: 6vw 0 4vw 0;
}

.award p {
  font-size: 1em;
}

.award {
  display: flex;
  align-items: center;
  gap: 4vw;
  padding: 4vw;
  background-color: white;
  border-radius: 1em;
}

.award img {
  width: 3.4em;
}

/* EXPERIENCE */

.exp-card {
  background-color: #f7f7ff;
  border-radius: 1em;
  padding: 4vw;
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.exp-card h4 {
  margin-bottom: 4vw;
}

.exp-time-color-1 {
  background-color: #ff9301;
}

.exp-time-color-2 {
  background-color: #555555;
}

.exp-time {
  font-size: 0.9em;
  color: white;
  padding: 0.3em;
  margin-bottom: 2vw;
  margin-top: 0.1em;
  display: inline-block;
  border-radius: 0.3em;
}

/* PORTFOLIO */

.portfolio-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 4vw;
}

.date {
  font-size: 0.9em;
}

.wrapper-portfolio img {
  max-width: 100%;
}

/* CONTACTS */

.contact-items {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.contact-item {
  display: flex;
  gap: 4vw;
  align-items: center;
}

.contact-item p {
  font-weight: bold;
}

.contact-item img {
  width: 1.5em;
  height: 1.5em;
}

input,
textarea {
  padding: 1em;
  border: 1px solid #bbbbbb;
}

textarea {
  resize: vertical;
}

textarea::placeholder {
  font-family: "Roboto", sans-serif;
}

.lg-pt-2 {
  padding-top: 2vw;
}

form {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.form-wrap {
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

form button {
  max-width: fit-content;
  padding: 1em;
  background-color: #0b0b15;
  color: white;
  border: none;
  border-radius: 0.3em;
}

.map {
  width: 100%;
  height: 17em;
  margin-bottom: 4vw;
}

/* FOOTER */

.footer-wrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 2vw;
}

footer {
  /* display: flex; */
  /* flex-direction: column; */
  padding: 4vw;
  /* align-items: center;
  gap: 4vw; */
}

.footer-logo {
  display: flex;
  gap: 2vw;
}

footer img {
  width: 7vw;
  height: 7vw;
}

/* MEDIUM SCREEN */

@media (min-width: 560px) {
  .wrapper {
    gap: 2vw;
  }

  .heading-circle::before {
    bottom: 0;
    left: -1vw;
  }

  h4 {
    font-size: 1.2em;
  }

  /* HEADER */

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  p {
    font-size: 1em;
  }

  header p {
    max-width: 45vw;
  }

  nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
  }

  nav li {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    border-bottom: 3px solid transparent;
  }

  nav li:active {
    border-bottom: #ff9301 3px solid;
  }

  /* BIOGRAPHY */

  .circle {
    width: 17em;
    height: 17em;
  }

  .border {
    height: 0.5em;
  }

  /* WHAT I DO */

  .card-content img {
    top: -1.5vw;
    left: -0.5vw;
  }

  .card-content h4 {
    margin-top: 0;
  }

  /* AWARDS */

  .awards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em 0 2em 0;
  }

  .award {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .award p {
    text-align: center;
    font-size: 1.2em;
  }

  /* EXPERIENCE */

  .exp-card-wrapper {
    border-left: 1px solid #eeeeee;
    padding-left: 4vw;
  }

  .date-wrapper {
    padding-right: 4vw;
    width: 50%;
  }

  .exp-time {
    padding: 0.5em;
  }

  .exp-card {
    flex-direction: row;
    align-items: center;
    gap: 4vw;
  }

  .exp-card h4 {
    margin-top: 2vw;
  }

  /* PORTFOLIO */

  .wrapper-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  /* CONTACTS */

  .contact-wrapper {
    gap: 2vw;
  }

  .form-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }

  form {
    gap: 2vw;
  }

  .map {
    height: 20em;
  }

  /* FOOTER */

  footer {
    /* flex-direction: row; */
    /* justify-content: space-between; */
    padding: 2vw 4vw;
  }

  .footer-wrapper {
    /* width: 100%; */
    /* max-width: 1140px; */
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
  }

  .footer-logo {
    gap: 2vw;
  }

  footer img {
    width: 5vw;
    height: 5vw;
  }
}

@media (min-width: 960px) {
  .header-wrapper,
  section {
    max-width: 1140px;
    /* margin: 0 auto; */
  }

  .heading-circle::before {
    /* content: "";
    position: absolute;
    background-color: rgb(255, 147, 1, 0.5); */
    width: 1.4em;
    height: 1.4em;
    /* border-radius: 50%; */
    bottom: 0.1vw;
    left: -0.7vw;
    /* z-index: -10; */
  }

  p,
  nav a {
    font-size: 0.9em;
  }

  .wrapper {
    padding-top: 2vw;
  }

  .lg-pt-2 {
    padding-top: 2vw;
  }

  /* HEADER */

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.4em;
  }

  header {
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .header-wrapper {
    display: flex;
    /* gap: 4vw; */
    justify-content: space-between;
    margin: 0 auto;
  }

  .lg-pt-2 {
    padding-top: 2vw;
  }

  .header-avatar {
    display: block;
    background-color: rgb(255, 147, 1, 0.5);
    border-radius: 50%;
    width: 70vw;
    height: 70vw;
    position: absolute;
    right: -20vw;
    top: -15vw;
  }

  .header-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
  }

  header img {
    /* align-self: flex-start; */
    display: block;
    height: 100%;
    /* position: absolute; */
    /* right: 5vw;
    bottom: 0; */
    z-index: 1000;
    margin-left: 8vw;
  }

  /* nav a {
    font-size: 0.9em;
  } */

  /* BIOGRAPHY */

  .lg-bio-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 8vw;
  }

  .h3-bio {
    padding-top: 2vw;
  }

  .circle {
    width: 13em;
    height: 13em;
  }

  .h2-bio {
    margin-bottom: 0;
  }

  .lg-not-hidden {
    display: block;
  }

  .ex-lg-not-hidden {
    display: none;
  }

  .border {
    height: 0.4em;
  }

  /* .border-hidden {
    display: block;
  } */

  /* .border-wrapper {
    width: 100%;
    height: 0.55em;
  } */

  /* WHAT I DO */

  .cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    padding-top: 2vw;
  }

  /* AWARDS */

  .award p {
    font-size: 1em;
  }

  /* EXPERIENCE */

  .exp-card h4 {
    margin: 2vw 0 2vw 0;
  }

  /* PORTFOLIO */

  .wrapper-portfolio {
    grid-template-columns: repeat(3, 1fr);
  }

  /* CONTACTS */

  .contact-wrapper {
    margin-top: 6vw;
  }

  .lg-contacts-wrapper {
    display: flex;
    gap: 2vw;
  }

  .lg-pt-0 {
    padding-top: 0;
  }

  .contact-item {
    gap: 2vw;
  }

  .contact-item p {
    font-size: 16px;
  }

  .contact-item img {
    width: 2em;
    height: 2em;
  }

  input,
  textarea {
    padding: 1.3em;
  }

  .map {
    margin-top: 2vw;
  }

  /* FOOTER */

  footer {
    padding: 1vw 4vw;
    /* width: 100%; */
    /* max-width: 1140px; */
    display: flex;
    justify-content: center;
  }

  .footer-logo {
    gap: 1vw;
  }

  footer img {
    height: 3vw;
    width: 3vw;
  }
}

@media (min-width: 1200px) {
  .ex-lg-not-hidden {
    display: block;
  }

  .heading-circle::before {
    left: -0.4vw;
  }

  p,
  nav a {
    font-size: 1em;
  }

  h3 {
    font-size: 1.5em;
  }

  /* HEADER */
}
